* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

nav ul {
  list-style: none;
  background-color: #010103;
  display: flex;
  justify-content: center;
  border-radius: 8px; }

nav ul a {
  font-family: 'Press Start 2P', cursive;
  color: #b993ff88;
  text-decoration: none;
  padding: 0.7rem;
  display: block; }

footer {
  background-color: black;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%; }

footer a {
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 10px; }

footer a.facebook {
  color: #0000df; }

footer a.instagram {
  color: pink; }

footer a.twitter {
  color: rgba(18, 92, 252, 0.836); }

p, p.nombre, p.titulo {
  font-family: 'Press Start 2P', cursive;
  color: white;
  transition: all 2s ease; }
  p:hover {
    background-color: black; }

p.parrafo1 {
  background-color: #202020;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  text-align: center; }
  p.parrafo1 p {
    color: #fffbfb; }

p.parrafo2 {
  background-color: #474747;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  text-align: center; }
  p.parrafo2 p {
    color: #fffbfb; }

p.parrafo3 {
  background-color: #7a7878;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  text-align: center; }
  p.parrafo3 p {
    color: #fffbfb; }

p.nombre {
  font-weight: 700;
  font-size: 14px; }

p.titulo {
  font-size: 13px;
  color: #959595;
  margin-top: 0%;
  padding-bottom: 10%; }

p.titulogames {
  font-size: 15px;
  background-color: black;
  color: #b993ff88;
  text-align: center;
  border-radius: 8px; }

body {
  background-color: rgba(245, 245, 245, 0.123);
  background-image: url("../Img/fondo.jpg");
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh; }

h1 {
  font-family: 'Press Start 2P', cursive; }

h1.email {
  font-family: 'Press Start 2P', cursive;
  font-size: medium; }

img.indeximg {
  padding-bottom: 10px;
  margin-top: 20%;
  margin-left: -50%;
  width: 150%;
  height: 40%; }

img.indeximg2 {
  padding-bottom: 10px;
  margin-top: 20%;
  margin-left: 0%;
  width: 150%;
  height: 40%; }

header {
  color: #b993ff88;
  text-align: center;
  margin-top: 10px; }

strong {
  font-family: 'Press Start 2P', cursive;
  color: white; }

strong.tituloindex {
  margin-left: 45%; }

img.juego {
  width: 100%;
  border-radius: 8px; }

fieldset {
  width: 20%;
  margin: 0 auto; }

fieldset {
  color: #b993ff88;
  text-align: left; }

img.whatsapp {
  margin-left: 40%;
  margin-top: 5px; }

h2 {
  font-family: Arial, Helvetica, sans-serif; }

h3 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin-left: 10px; }

li.barra1 {
  transition: all 2s ease; }

li.barra1:hover {
  background-color: white; }

li.barra2 {
  transition: all 2s ease; }

li.barra2:hover {
  background-color: white; }

li.barra3 {
  transition: all 2s ease; }

li.barra3:hover {
  background-color: white; }

li.barra4 {
  transition: all 2s ease; }

li.barra4:hover {
  background-color: white; }

li.barra5 {
  transition: all 2s ease; }

li.barra5:hover {
  background-color: white; }

img.team {
  margin-left: 40%; }

div.fg {
  line-height: 20px;
  font-size: 14px; }

a.btn-success {
  background-color: #b993ff88;
  border: white; }

@media screen and (max-width: 992px) {
  img.team {
    margin-left: 40%; }
  img.indeximg {
    width: 100%;
    margin: 0% auto; }
  img.indeximg2 {
    width: 100%;
    margin: 0% auto; }
  .fg {
    margin-left: 35%; }
  p.titulo {
    margin-left: 35%; }
  p.Nombre {
    margin-left: 35%; }
  img.error {
    width: 100%; } }

@media screen and (max-width: 768px) {
  nav ul {
    display: block;
    background-color: #1c0a3a; }
  img.whatsapp {
    margin: 0 auto;
    margin-left: 30%; }
  img.team {
    width: 50%;
    margin-left: 25%; }
  img.indeximg {
    width: 100%;
    margin: 0% auto; }
  img.indeximg2 {
    width: 100%;
    margin: 0% auto; }
  .fg {
    margin-left: 20%; }
  p.titulo {
    margin-left: 25%; }
  p.Nombre {
    margin-left: 25%; }
  img.error {
    width: 100%; } }

@media screen and (max-width: 500px) {
  nav ul {
    display: block;
    background-color: #1c0a3a; }
  strong.tituloindex {
    margin-left: 40%; }
  img.whatsapp {
    margin: 0 auto;
    margin-left: 10%; }
  img.indeximg {
    width: 100%;
    padding-bottom: -80%; }
  img.indeximg2 {
    width: 100%;
    margin: 0% auto; }
  img.team {
    margin-left: 25%; }
  .fg {
    margin-left: 20%; }
  p.titulo {
    margin-left: 25%; }
  p.Nombre {
    margin-left: 25%; }
  img.whatsapp {
    margin-left: 25%; }
  img.error {
    width: 100%; } }
