footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a{
    color:white;
    font-family: 'Press Start 2P', cursive;
    
    margin-left: 10px;
    
}