nav ul{
    list-style: none;
    background-color: rgb(1, 1, 3);
    display: flex;
    justify-content:center;
    border-radius: 8px;

}
nav ul a{
    font-family: 'Press Start 2P', cursive;
    color:$colorprincipal;
    text-decoration: none;
    padding: 0.7rem;
    display: block;
}