p{
    font-family: 'Press Start 2P', cursive;   
    color:rgb(255, 255, 255);
    
    transition: all 2s ease;
    &:hover{
        background-color: black;
        
    } 
}
p.parrafo1{
    @include parrafo ($bgp1); 
    text-align: center;
 }
 p.parrafo2{
     @include parrafo ($bgp2);
     text-align: center;
 }
 p.parrafo3{
     @include parrafo ($bgp3);
     text-align: center;
 }
p.nombre{
    @extend p;
    
    font-weight: 700;
    font-size: 14px;
}
p.titulo{
    @extend p;
    font-size: 13px;
    color: #959595;  
    margin-top:  0%;
    padding-bottom: 10%;
}
p.titulogames{
    font-size: 15px;
    background-color: black;
    color: $colorprincipal;
    text-align: center;
    border-radius: 8px;
}