*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: rgba(245, 245, 245, 0.123);
    background-image: url(./fondo.jpg);
}
h1.asd{
    font-family: 'Press Start 2P', cursive;
    text-align: start;

}
h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;

} 

header{
    color:rgba(185, 147, 255, 0.534);

}
p{
    font-family: 'Press Start 2P', cursive;    
    font-size: 1rem;
    color: white;
    text-align: start;
    line-height: 1.3;
    padding: 10px;
    margin: 20px;    
}
img.juego{
    margin-left: 8px;
    margin-bottom: 15px;
    width: 50%;
    border-radius: 8px;
}
fieldset{
    width: 20%;
    margin-left:40%;
}




nav ul{
    list-style: none;
    background-color: rgb(1, 1, 3);
    display: flex;
    justify-content:center;
    border-radius: 8px;

}
nav ul a{
    font-family: 'Press Start 2P', cursive;
    color:rgba(185, 147, 255, 0.534);
    text-decoration: none;
    padding: 0.7rem;
    display: block;
}

fieldset{
    color:rgba(185, 147, 255, 0.534);
    text-align: center;
}  

img.whatsapp{
    margin-left: 45%;
    margin-top: 5px;
}
h2{
    font-family:Arial, Helvetica, sans-serif;

}
h3{
   color:white;
   font-family: 'Press Start 2P', cursive;
   margin-left: 10px;
}
footer{
    background-color: black;
    border-radius: 8px;
}
footer a{
    color:white;
    
    margin-bottom: 10px;
    
}


.padre{
    
	padding: 20px;
	margin: 20px auto;
	width: 90%;
	display: grid;
	gap: 1rem;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:repeat(4, auto);
	grid-template-areas: 
    "header header header"
	"navegacion navegacion navegacion"
    "contenido contenido aside"
	"footer footer footer";
}


.header{
	grid-area: header;
}
.footer {
	height: 50px;
	grid-area: footer;
}
.navegacion {
	padding: 20px;
	border-radius: 4px;
	line-height: 1.5;
	grid-area: navegacion;}
.contenido{
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    grid-area: contenido;
}
.aside{
    margin: 20px auto;
    grid-area: aside;
}

.padre2{
    
	padding: 20px;
	margin: 20px auto;
	width: 90%;
	display: grid;
	gap: 1rem;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:repeat(4, auto);
	grid-template-areas: 
    "header header header"
	"navegacion navegacion navegacion"
    "juegos juego parrafo"
	"footer footer footer";
}


.header{
	grid-area: header;
}
.footer{
	height: 50px;
	grid-area: footer;
}
.navegacion {
	padding: 20px;
	border-radius: 4px;
	line-height: 1.5;
	grid-area: navegacion;}
.juegos {
    margin-left: 8px;
    margin-bottom: 15px;
    width: 350%;
    border-radius: 8px;
    grid-area: juegos;
}

.padre3{
    
	padding: 20px;
	margin: 20px auto;
	width: 90%;
	display: grid;
	gap: 1rem;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:repeat(5, auto);
	grid-template-areas: 
    "header header header"
	"navegacion navegacion navegacion"
    "telefono telefono telefono"
    "contacto contacto contacto"
	"footer footer footer";
}


.header{
	grid-area: header;
}
.footer{
	height: 50px;
	grid-area: footer;
}
.navegacion {
	padding: 20px;
	border-radius: 4px;
	line-height: 1.5;
	grid-area: navegacion;}
.telefono {
    margin-left: 8px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 8px;
    grid-area: telefono;
}
.contacto{
    grid-area: contacto;
}
.padre4{
    
	padding: 20px;
	margin: 20px auto;
	width: 90%;
	display: grid;
	gap: 1rem;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:repeat(4, auto);
	grid-template-areas: 
    "header header header"
	"navegacion navegacion navegacion"
    "merchandise merchandise merchandise"
	"footer footer footer";
}


.header{
	grid-area: header;
}
.footer{
	height: 50px;
	grid-area: footer;
}
.navegacion {
	padding: 20px;
	border-radius: 4px;
	line-height: 1.5;
	grid-area: navegacion;}
.merchandise {
    margin-left: 8px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 8px;
    grid-area: merchandise;
}


.padre5{
    
	padding: 20px;
	margin: 20px auto;
	width: 90%;
	display: grid;
	gap: 1rem;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:repeat(4, auto);
	grid-template-areas: 
    "header header header"
	"navegacion navegacion navegacion"
    "equipo equipo equipo"
    
	"footer footer footer";
}


.header{
	grid-area: header;
}
.footer{
	height: 50px;
	grid-area: footer;
}
.navegacion {
	padding: 20px;
	border-radius: 4px;
	line-height: 1.5;
	grid-area: navegacion;}
.equipo {
    margin-left: 8px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 8px;
    grid-area: equipo;
}



@media screen and (max-width:768px){
    .padre{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "header header header"
        "navegacion navegacion navegacion"
        "contenido contenido contenido"
        "aside aside aside"
        "footer footer footer";
    }
   nav ul{
       display: block;
       
   }
}


@media screen and (max-width:768px){
    .padre2{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "header header header"
        "navegacion navegacion navegacion"
        "juegos juegos juegos"
        "footer footer footer";
    }
    .juegos{
        width: 100% ;
        
    }
    nav ul{
        display: block;
        
    }

}
@media screen and (max-width:768px){
    .padre3{
        grid-template-columns: 1fr;
        grid-template-rows: 30px 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "navegacion"
        "telefono"
        "contacto"
        "footer";
    }
    nav ul{
        display: block;
        
    }
    

}

@media screen and (max-width:768px){
    .padre4{
        grid-template-columns: 1fr;
        grid-template-rows: 30px 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "navegacion"
        "merchandise"
        "footer";
    }
    nav ul{
        display: block;
        
    }
    

}

@media screen and (max-width:768px){
    .padre5{
        grid-template-columns: 1fr;
        grid-template-rows: 30px 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "navegacion"
        "equipo"
        "footer";
    }
    nav ul{
        display: block;
        
    }
    

}

@media screen and (max-width:500px){
    .padre{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "header header header"
        "navegacion navegacion navegacion"
        "contenido contenido contenido"
        "aside aside aside"
        "footer footer footer";
    }
   nav ul{
       display: block;
       background-color: rgb(28, 10, 58);
       
   }
}


@media screen and (max-width:500px){
    .padre2{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "header header header"
        "navegacion navegacion navegacion"
        "juegos juegos juegos"
        "footer footer footer";
    }
    .juegos{
        width: 100% ;
        
    }
    nav ul{
        display: block;
        
    }

}
@media screen and (max-width:500px){
    .padre3{
        grid-template-columns: 1fr;
        grid-template-rows: 30px 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "navegacion"
        "telefono"
        "contacto"
        "footer";
    }
    nav ul{
        display: block;
        
    }
    

}

@media screen and (max-width:500px){
    .padre4{
        grid-template-columns: 1fr;
        grid-template-rows: 30px 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "navegacion"
        "merchandise"
        "footer";
    }
    nav ul{
        display: block;
        
    }
    

}

@media screen and (max-width:500px){
    .padre5{
        grid-template-columns: 1fr;
        grid-template-rows: 30px 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "navegacion"
        "equipo"
        "footer";
    }
    nav ul{
        display: block;
        
    }
    

}
li.barra1{
    
    transition: all 2s ease;
    }

li.barra1:hover{
background-color: rgb(255, 255, 255);

}
li.barra2{
    
    transition: all 2s ease;
    }

li.barra2:hover{
background-color: rgb(255, 255, 255);

}
li.barra3{
    
    transition: all 2s ease;
    }

li.barra3:hover{
background-color: rgb(255, 255, 255);

}
li.barra4{
    
    transition: all 2s ease;
    }

li.barra4:hover{
background-color: rgb(255, 255, 255);

}
li.barra5{
    
    transition: all 2s ease;
    }

li.barra5:hover{
background-color: rgb(255, 255, 255);

}